<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="fondo2">
  <div style="text-align: center; margin: auto;">
    <ion-img [src]="imag" style="width: 150px; height: 90px; margin:auto; margin-top: 120px;"></ion-img> 
    <ion-label style="font-size: 35px; font-family:'Courier New', Courier, monospace;">{{title}}</ion-label>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam obcaecati ratione consequatur 
    </p>
    <br/>
    <ion-icon name="person-outline"></ion-icon><ion-input placeholder="Username"></ion-input>
    <ion-icon name="key-outline"></ion-icon><ion-input placeholder="Password" Type="password"></ion-input>
    <br/>
    <br/>
    <ion-button shape="round" color="element" style="width: 219px;">LOGIN</ion-button>
    <br/>
    <br/>
    <ion-router-link color="tertiary"  href="#">Forgot Password?</ion-router-link>
    <br/>
    <br/>
    <br/>
    <ion-label>Do not have account?</ion-label> <ion-router-link color="tertiary"  href="#">Sign up</ion-router-link>
  </div>
</ion-content>
