<ion-header>
  <ion-toolbar>
    <ion-title>customer2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="fondo2">
  <div style="text-align: center;">
   
        <ion-img [src]="imagen" style="width: 200px; height: 160px; margin:auto; margin-top: 120px;"></ion-img> 
        <h5>Select a Restaurant</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicingo, eius, similique perspiciatis ad laborum di!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicingo, eius, similique perspiciatis ad laborum di!</p>
    <br/>
    <ion-radio-group value="biff">
      <ion-radio slot="start" value="ff" color="element"></ion-radio>
      <ion-radio slot="start" value="a" color="element"></ion-radio>
      <ion-radio slot="start" value="b" color="element"></ion-radio>
      <ion-radio slot="start" value="c" color="element"></ion-radio>
      <ion-radio slot="start" value="d" color="element"></ion-radio>
    </ion-radio-group>
    <br/>
    <br/>
    <ion-button color="element" shape="round" style="width: 200px;">
      Create Account
                <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>
