<ion-header>
  <ion-toolbar>
    <ion-title>Signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="fondo2">
  <div style="text-align: center; margin: auto;">
    <ion-img [src]="img" style="width: 150px; height: 90px; margin:auto; margin-top: 120px;"></ion-img> 
    <br/>
    <ion-label style="font-size: 35px; font-family:'Courier New', Courier, monospace;">{{title}}</ion-label>
  </div>
  <br/>
  <div style="text-align: center; margin: auto;">
     <ion-button shape="round" color="tertiary" style="width: 219px;">SIGN UP WITH FACEBOOK</ion-button>  
     <br/>
     <ion-button shape="round" color="element" style="width: 219px;">SIGN UP WITH GMAIL</ion-button>   
     
  </div>
</ion-content>
