<ion-header>
  <ion-toolbar>
    <ion-title>SplashScreen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div style="align-items: center; text-align: center;">
  <ion-img [src]="img" style="width: 150px; height: 90px; margin:auto; margin-top: 120px;"></ion-img> 
  <br/>
  <br/>
  <ion-label style="font-size: 35px; font-family:'Courier New', Courier, monospace;">{{title}}</ion-label>
  <br/>
  <br/>
  <ion-toggle [(ngModel)]="mensaje">
  </ion-toggle>
  <h5 *ngIf="mensaje">Welcome</h5>
</div>
</ion-content>
