<ion-header>
  <ion-toolbar>
    <ion-title>SplashScreen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="element">
<div style="align-items: center; text-align: center;">
  <ion-img [src]="img" style="width: 150px; height: 90px; margin:auto; margin-top: 120px;"></ion-img> 
  <br/>
  <br/>
  <ion-label style="font-size: 35px; font-family:'Courier New', Courier, monospace; color: white;">{{title}}</ion-label>
  <br/>
  <br/>
  <ion-button shape="round" (click)="GoToPage('signup')" style="width: 200px;">
    Welcome   <ion-avatar>
                <img src="../../../assets/img/imge.JPG" style="align-self: start; width: 60%; height: 60%; margin-left: 55px; margin-top: 13px;">
              </ion-avatar>
  </ion-button>
  <br/>
  <br/>
</div>
</ion-content>
